$buttonGreen: #32a852;
$buttonGrey: #b3a8a6;
$buttonRed: #ed4c4c;
$buttonText: #f5f4f0;
$darkBackground: #33322f;
$lightBackground: #e0dbcc;
$superLightBackground: #f7f6ed;
$lightHeardText: #bf9e39;
$darkText: #333125;
$hoverOpacity: rgba(255, 255, 255, 0.2);
$grey: #e3d7d5;
